ol-map {
  display: block;
  width: 100%;
  height: 350px;
}

.settings {
  display: flex;
  justify-content: center;
  padding: 0.25em;
}

.settings p {
  display: flex;
  align-items: center;
  gap: 1em;
}

.loaded-icon {
  color: #08b836;
}
