<h2>{{ title() ?? 'Example' }}</h2>

<ng-template #exampleContainer/>

@if (this.codeExample() != undefined) {
  <mat-tab-group>
    <mat-tab label="TypeScript">
      <pre><code class="language-javascript" [innerHTML]="this.codeExample()?.code"></code></pre>
    </mat-tab>
    <mat-tab label="Markup">
      <pre><code class="language-html" [innerHTML]="this.codeExample()?.markup"></code></pre>
    </mat-tab>
    <mat-tab label="Style">
      <pre><code class="language-css" [innerHTML]="this.codeExample()?.style"></code></pre>
    </mat-tab>
  </mat-tab-group>
}

