<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="source" />
  </ol-layers>

  <ol-controls defaultControls>
    <ol-scale-line [(units)]="unit" bar="true"/>
  </ol-controls>

  <ol-interactions defaultInteractions />

</ol-map>
<div class="settings">
  <mat-form-field>
    <mat-label>Units</mat-label>
    <mat-select [(value)]="unit">
      <mat-option value="degrees">Degrees</mat-option>
      <mat-option value="imperial">Imperial</mat-option>
      <mat-option value="nautical">Nautical</mat-option>
      <mat-option value="metric">Metric</mat-option>
      <mat-option value="us">US</mat-option>
    </mat-select>
  </mat-form-field>
</div>

