<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="source" />
  </ol-layers>

  <ol-controls>
    <ol-zoom-control  />
    <ol-attribution />
    <ol-full-screen (fullScreenChange)="handleFullScreenChange($event)" tipLabel="Full Screen Mode"/>
  </ol-controls>

  <ol-interactions>
    <ol-mouse-wheel-zoom/>
  </ol-interactions>

</ol-map>

