<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="datavizDarSource" />
    <ol-vector-layer #topoJsonLayer topojson="https://openlayers.org/en/latest/examples/data/topojson/world-110m.json"
      overlaps="false" [layers]="['countries']" [style]="style" [minResolution]="5000" [maxResolution]="20000"/>
  </ol-layers>

  <ol-controls defaultControls/>
  <ol-interactions defaultInteractions/>

</ol-map>

<div class="settings">
  <label for="minResolution">Minimum Resolution</label>
  <mat-slider min="100" max="25000" step="100" discrete>
    <input id="minResolution" [(value)]="minResolution" matSliderStartThumb (valueChange)="updateMinResolution($event)">
    <input id="maxResolution" [(value)]="maxResolution" matSliderEndThumb  (valueChange)="updateMaxResolution($event)">
  </mat-slider>
  <label for="maxResolution">Maximum Resolution</label>
</div>
<div class="settings">
  <label>Current Resolution:</label>
  <p>{{ viewDirective()?.resolution() | number : '5.1-1'}}</p>
</div>
