<ol-map>

    <ol-layers>
        <ol-vector-layer #randomPoints [geojson]="randomPointUrl" [(zIndex)]="zIndex"/>
        <ol-webgl-tile-layer [source]="source" [contrast]="contrast()"/>
        <ol-vector-layer [kml]="kmlUrl" extractStyles="false" [style]="polygonStyle"/>
    </ol-layers>

    <ol-controls defaultControls/>
    <ol-interactions defaultInteractions/>

</ol-map>

<div class="settings">

    <div>
        Random Points ZIndex:&nbsp;
        <mat-button-toggle-group name="vector-layer-order" aria-label="Vector Layer Order"
                                 (change)="updateZIndex($event)">
            <mat-button-toggle value="1" checked>Front</mat-button-toggle>
            <mat-button-toggle value="0">Back</mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <div>
        <label>Contrast:</label>
        <mat-slider min="-1.0" max="1.0" step="0.1" discrete>
            <input matSliderThumb [(value)]="contrast" (valueChange)="updateStyle($event, 'contrast')" />
        </mat-slider>
    </div>

    <div>
        <label>Exposure:</label>
        <mat-slider min="-1.0" max="1.0" step="0.1" discrete>
            <input matSliderThumb [(value)]="exposure" (valueChange)="updateStyle($event, 'exposure')" />
        </mat-slider>
    </div>

    <div>
        <label>Saturation:</label>
        <mat-slider min="-1.0" max="1.0" step="0.1" discrete>
            <input matSliderThumb [(value)]="saturation" (valueChange)="updateStyle($event, 'saturation')" />
        </mat-slider>
    </div>

    <div>
        <label>Brightness:</label>
        <mat-slider min="-1.0" max="1.0" step="0.1" discrete>
            <input matSliderThumb [(value)]="brightness" (valueChange)="updateStyle($event, 'brightness')" />
        </mat-slider>
    </div>

    <div>
        <label>Gamma:</label>
        <mat-slider min="0" max="100" step="0.1" discrete>
            <input matSliderThumb [(value)]="gamma" (valueChange)="updateStyle($event, 'gamma')" />
        </mat-slider>
    </div>

</div>
