<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="osmSource" />
    <ol-group-layer #testGroup [visible]="visible()" [maxZoom]="10">
      <ol-vector-layer [geojson]="randomPointUrl" [style]="pointStyle"/>
      <ol-vector-layer [geojson]="randomLineUrl" [style]="lineStyle" />
    </ol-group-layer>
  </ol-layers>

  <ol-controls defaultControls/>
  <ol-interactions defaultInteractions/>

</ol-map>
<div class="settings">
  <mat-slide-toggle [checked]="visible" (toggleChange)="toggleGroupVisibility()">Toggle Layer Group {{ visible() | isActive }} </mat-slide-toggle>
</div>
