<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="source" />
  </ol-layers>

  <ol-controls defaultControls>
    <ol-overview-map collapsible="true" collapsed="false">
      <ol-layers>
        <ol-tile-layer [source]="source" />
      </ol-layers>
    </ol-overview-map>
  </ol-controls>

  <ol-interactions defaultInteractions/>

</ol-map>
