a.brand, a.brand:visited {
  display: block;
  text-decoration: none;
  color: var(--mat-menu-item-label-text-color, var(--mat-app-on-surface));
}

div.brand {
  align-items: center;
}

div.menu {
  width: 100%;
  padding-right: 1em;
  justify-content: end;
  align-items: center;
}


div {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  display: block;
}

.active {
  font-weight: bold;
}
