<mat-toolbar>
    <a routerLink="/" class="brand" matTooltip="NgxOl (Angular & OpenLayers)">
      <div class="brand">
        <img ngSrc="/angular-logo.png" alt="Angular" height="50" width="50"/>
        &nbsp;+&nbsp;
        <img ngSrc="/openlayers-logo.svg" alt="OpenLayers" height="50" width="50"/>
        <h1>NgxOl</h1>
      </div>
    </a>
    <div class="menu">
      <button mat-button [matMenuTriggerFor]="docsMenu">Docs</button>
      <mat-menu #docsMenu="matMenu">
        <a mat-menu-item routerLink="/quick-start">
          <mat-icon>rocket_launch</mat-icon>
          Quick Start</a>
        <button mat-menu-item>
          <mat-icon>quiz</mat-icon>
          FAQ
        </button>
        <button mat-menu-item>
          <mat-icon>play_lesson</mat-icon>
          Tutorials
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="examples">Examples</button>
      <mat-menu #examples="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="maps">Maps</button>
        <button mat-menu-item [matMenuTriggerFor]="controls">Controls</button>
        <button mat-menu-item [matMenuTriggerFor]="overlays">Overlays</button>
        <button mat-menu-item [matMenuTriggerFor]="interactions">Interactions</button>
        <button mat-menu-item [matMenuTriggerFor]="projection">Projection</button>
      </mat-menu>

      <mat-menu #maps="matMenu">
        <a mat-menu-item routerLink="/basic-map" routerLinkActive="active">Basic Map</a>
        <a mat-menu-item routerLink="/layer-group" routerLinkActive="active">Layer Group</a>
        <a mat-menu-item routerLink="/graticule-map" routerLinkActive="active">Graticule Map</a>
        <a mat-menu-item routerLink="/image-layer" routerLinkActive="active">Image Layer</a>
        <a mat-menu-item routerLink="/heatmap" routerLinkActive="active">Heat Map</a>
        <a mat-menu-item routerLink="/vector-tile-map" routerLinkActive="active">Vector Tile Map</a>
        <a mat-menu-item routerLink="/webgl-layer-map" routerLinkActive="active">WebGL Tile Map</a>
        <a mat-menu-item routerLink="/esri-feature-map" routerLinkActive="active">ArcGIS REST Feature Service</a>
        <a mat-menu-item routerLink="/topojson-layer-map" routerLinkActive="active">TopoJSON</a>
      </mat-menu>

      <mat-menu #controls="matMenu">
        <a mat-menu-item routerLink="/overview-map" routerLinkActive="active">Overview Map Control</a>
        <a mat-menu-item routerLink="/mouse-position-map" routerLinkActive="active">Mouse Position Control</a>
        <a mat-menu-item routerLink="/scale-line-map" routerLinkActive="active">Scale Line Control</a>
        <a mat-menu-item routerLink="/full-screen-map" routerLinkActive="active">Full Screen Map</a>
        <a mat-menu-item routerLink="/zoom-to-extent" routerLinkActive="active">Zoom To Extent Map</a>
        <a mat-menu-item routerLink="/rotate-map" routerLinkActive="active">Rotate Map</a>
      </mat-menu>

      <mat-menu #overlays="matMenu">
        <a mat-menu-item routerLink="/basic-overlay-map" routerLinkActive="active">Simple Popup Overlay</a>
      </mat-menu>

      <mat-menu #interactions="matMenu">
        <a mat-menu-item routerLink="/keyboard-interaction" routerLinkActive="active">Keyboard Interaction</a>
        <a mat-menu-item routerLink="/mouse-interaction" routerLinkActive="active">Mouse Interaction</a>
        <a mat-menu-item routerLink="/drag-interaction" routerLinkActive="active">Mouse & Keyboard Interaction</a>
      </mat-menu>

      <mat-menu #projection="matMenu">
        <a mat-menu-item routerLink="/projection-service" routerLinkActive="active">Projection Service</a>
      </mat-menu>


      <mat-menu #apiMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>polyline</mat-icon>
          v1.0.0
        </button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="codeMenu">Code</button>
      <mat-menu #codeMenu="matMenu">
        <a mat-menu-item href="https://gitlab.com/nasumilu1/ngxol" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gitlab" viewBox="0 0 16 16">
            <path d="m15.734 6.1-.022-.058L13.534.358a.57.57 0 0 0-.563-.356.6.6 0 0 0-.328.122.6.6 0 0 0-.193.294l-1.47 4.499H5.025l-1.47-4.5A.572.572 0 0 0 2.47.358L.289 6.04l-.022.057A4.044 4.044 0 0 0 1.61 10.77l.007.006.02.014 3.318 2.485 1.64 1.242 1 .755a.67.67 0 0 0 .814 0l1-.755 1.64-1.242 3.338-2.5.009-.007a4.05 4.05 0 0 0 1.34-4.668Z"/>
          </svg>
          GitLab
        </a>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
</mat-toolbar>

<main>
  <router-outlet />
</main>
