<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="source" />
  </ol-layers>

  <ol-controls>
    <ol-mouse-position [projection]="projection().srid" [coordinateFormat]="this.format.bind(this)"/>
  </ol-controls>

  <ol-interactions>
    <ol-mouse-wheel-zoom/>
  </ol-interactions>

</ol-map>

<div class="settings">
  <mat-form-field>
    <mat-label>Projection</mat-label>
    <mat-select [(value)]="projection">
      @for (projection of projections; track projection.srid) {
        <mat-option [value]="projection">{{ projection.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
