<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="source" />
  </ol-layers>

  <ol-controls>
    <ol-zoom-control  />
    <ol-attribution />
    <ol-zoom-to-extent [extent]="extent" tipLabel="United States" label="🔖"/>
  </ol-controls>

  <ol-interactions>
    <ol-mouse-wheel-zoom/>
  </ol-interactions>

</ol-map>
