<ol-map projection="EPSG:2238"
        [zoom]="8"
        [center]="[2375184,492342]"
        extent="-1151161.826,-352124.584, 6828738.708, 1775132.109">
  <ol-layers>
    <ol-tile-layer [source]="source" />
    <ol-vector-layer [features]="features" />
  </ol-layers>

  <ol-controls defaultControls/>
  <ol-interactions defaultInteractions/>

</ol-map>
<div class="transform-values">
  <transform-coordinate [center]="viewDirective()?.center()" sourceCrs="EPSG:2238" destinationCrs="EPSG:2238">
    NAD83 / Florida North (ftUS):
  </transform-coordinate>

  <transform-coordinate [center]="viewDirective()?.center()" sourceCrs="EPSG:2238" destinationCrs="EPSG:4326">
    World Geodetic System 1984:
  </transform-coordinate>

  <transform-coordinate [center]="viewDirective()?.center()" sourceCrs="EPSG:2238" destinationCrs="EPSG:3086">
    NAD83 / Florida GDL Albers:
  </transform-coordinate>

  <transform-coordinate [center]="viewDirective()?.center()" sourceCrs="EPSG:2238" destinationCrs="EPSG:3857">
    Spherical Mercator:
  </transform-coordinate>

  <transform-coordinate [center]="viewDirective()?.center()" sourceCrs="EPSG:2238" destinationCrs="EPSG:3580">
    NAD83 / NWT Lambert:
  </transform-coordinate>

</div>


