@import 'ol/ol.css';
@import 'highlight.js/styles/intellij-light.min.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ol-mouse-position {
  bottom: 0;
  top: auto !important;
  right: 50%;
  margin: 1em;
  background: #fff;
  padding: 0.25em;
  font-size: 12px;
  border: 1px solid #336699;
  border-radius: 5px;
  min-width: 9em;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
