<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="source" />
  </ol-layers>

  <ol-controls>
    <ol-zoom-control  />
    <ol-attribution />
  </ol-controls>

  <ol-interactions>
    <ol-dbl-click-zoom />
    <ol-mouse-wheel-zoom />
    <ol-drag-pan />
  </ol-interactions>

</ol-map>
<div class="settings">
  <mat-slide-toggle [checked]="mouseWheelZoomActive" (toggleChange)="toggleMouseWheelZoom()">Mouse Wheel Zoom {{ mouseWheelZoomActive() | isActive }}</mat-slide-toggle>
  <mat-slide-toggle [checked]="dblClickZoomActive" (toggleChange)="toggleDblClickZoom()">Double Click Zoom {{ dblClickZoomActive() | isActive }}</mat-slide-toggle>
  <mat-slide-toggle [checked]="dragPanActive" (toggleChange)="toggleDragPan()">Drag Pan {{ dragPanActive() | isActive }}</mat-slide-toggle>
</div>
