<ol-map>

  <ol-layers>
    <ol-tile-layer [source]="source" />
  </ol-layers>

  <ol-controls>
    <ol-zoom-control  />
    <ol-attribution />
  </ol-controls>

  <ol-interactions>
    <ol-keyboard-pan/>
    <ol-keyboard-zoom />
  </ol-interactions>

</ol-map>
<div class="settings">
  <mat-slide-toggle [checked]="keyboardZoomActive" (toggleChange)="toggleKeyboardZoom()">Keyboard Zoom {{ keyboardZoomActive() | isActive }}</mat-slide-toggle>
  <mat-slide-toggle [checked]="keyboardPanActive" (toggleChange)="toggleKeyboardPan()">Keyboard Pan {{ keyboardPanActive() | isActive }}</mat-slide-toggle>
</div>
